.title {
  padding-top: 75px;
  padding-bottom: 20px;
  color: #0b3e7e;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.company-logo {
  min-height: 103px;
}
